PUSHN 5
PUSHI 0
PUSHI 0
START
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
L0:
PUSHG 5
PUSHI 5
INFEQ
JZ LBL30
PUSHGP
PUSHG 5
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 6
PUSHGP
PUSHG 5
PUSHI 1
SUB
LOADN
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L0
LBL30:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
WRITELN
STOP
